*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url(../img/bodyLogin.jpeg);
    background-size: cover;
}
.login{
    margin-top:10%;
    background-color: rgba(255, 255, 255, 0.851);
    width: 36%;
    height: 100%;
    align-items: center;
    text-align: center;
    margin-left: 32%;
    border-radius: 8px;
}
.row{
    padding: 50px 20px 10px 20px;
}